.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-player-block {
    --primary: #d6d6d6;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 100px;
    /* background-color: red; */

}

.forwardBackward {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.backwards-30-button {
    width: 30px;
    height: 30px;
    color: white;
}

.backwards-30-button:active {
    color: rgba(255, 255, 255, 0.541);
}


.playPause-block {
    background: none;
    border: none;
    padding: none;
}

.play-button {
    /* position: relative; */
    width: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
}

.pause-button {
    width: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
}

.play-button:active,
.pause-button:active {
    color: rgba(255, 255, 255, 0.541);
}

.currentTime,
.duration {
    font-family: monospace;
    font-size: 16px;

}

.name-block {
    color: white;
    font-size: 24px;
}

.currentTime,
.duration {
    margin-left: 25px;
    margin-bottom: -10px;
    color: white;
}

.progressBar {
    --seek-before-width: 0;
    --seek-before-color: #d4d700;
    --knobby: #db222a;
    --selected-knobby: #7c2e41;

    appearance: none;
    border-radius: 10px;
    background: white;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
    margin-top: 15px;
}

.song-name-and-progress-bar {
    width: 600px;
    margin-left: 20px;
    margin-right: 20px;
}

.progressBar::before {
    content: '';
    height: 11px;
    width: var(--seek-before-width);
    background-color:#db222a;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;

}
