.signup-inner-block {
    display: flex;
    justify-content: center;
    border: 5px solid rgb(105,9,183);
    background-color: rgba(24, 24, 24, 0.678);
    width: 500px;
    padding: 30px;
    border-radius: 25px;
    height: 500px;
    overflow-y: auto;
}

.submit-button-block {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.submit-button {
    background: none;
    height: 45px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border: 3px solid white;
    border-radius: 5px;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
}

.submit-button:active {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.541);
    border: 2px solid rgba(255, 255, 255, 0.541);
}
