

.main-body {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.welcome {
    position: absolute;
    color: white;
    z-index: 2;
}

.crowd-png {
    position: absolute;
    margin-bottom: 100px;
    width: 100%;
    bottom: 0;
}
