.sound-text {
    color: #beff46;
}


.main-body {
    margin-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.welcome {
    position: relative;
    color: white;
    z-index: 2;
}

.list-block {
    font-size: 24px;
}

.crowd-png {
    position: absolute;
    margin-bottom: 100px;
    width: 100%;
    bottom: 0;
}

p {
    font-weight: 700;

    color: white;
}

span {
    color: #beff46;
}
