.text {
    color: white;
}

.playlists-selection-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.playlist-list-block {
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    max-width: 60%;
    flex-wrap: wrap;
    background: rgb(105,9,183);
    background: linear-gradient(90deg, rgba(105,9,183,1) 0%, rgba(51,4,90,1) 75%, rgba(0,0,0,1) 100%);
    display: flex;
}

.single-playlist-block {
    background-color: black;
    border: 2px solid white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lower-single-playlist-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-button-block {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.playlist-name-text {
    text-decoration: none;
    font-size: 15px;
    margin-right: 15px;
}

.delete-button-button {
    padding: 0;
    width: 25px;
    height: 25px;
}

.delete-playlist-button-block {
    padding: 0;
    background: none;
    border: none;
}


.playlist-image {
    width: 200px;
    height: 200px;
}

.add-playlist-block {
    margin-bottom: 20px;
}
