.text {
    color: white;
}

.playlists-selection-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 200px;
}

.playlist-list-block {
    display: flex;
    justify-content: center;
    max-width: 60%;
    flex-wrap: wrap;
    background: rgb(105,9,183);
    background: linear-gradient(90deg, rgba(105,9,183,1) 0%, rgba(51,4,90,1) 75%, rgba(0,0,0,1) 100%);
    display: flex;
}

.single-playlist-block {
    background-color: black;
    border: 2px solid white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist-image {
    width: 200px;
    height: 200px;
}
