
span {
    color: rgb(255, 255, 255);
}

.lower-footer-block {
    display: flex;
    position: fixed;
    width: 100%;
    margin-top: 105px;
    bottom: 0;
    left: 0;
    justify-content: space-evenly;
    border-top: 5px solid black;
    background: rgb(105,9,183);
    background: linear-gradient(90deg, rgba(105,9,183,1) 0%, rgba(51,4,90,1) 75%, rgba(0,0,0,1) 100%);
}

.speaker-img-left {
    position: fixed;
    margin-right: 8%;
    filter: invert(1);
    height: 100px;
}

.speaker-img-right {
    position: fixed;
    margin-right: 8%;
    filter: invert(1);
    height: 100px;
}

.speaker-img-left:active {
    margin-top: -50px;
    margin-right: 8%;
    height: 200px;
}

.speaker-img-right:active {
    margin-top: -50px;
    height: 200px;
}
